<div class="container fullheight search-page">

  <% if params[:category_id].present? %>
    <div class="my-4 page-title">
      <h1><%= @category.name %><i class="fa-solid fa-bolt icon-logo"></i></h1>
    </div>

    <% @tois.each_with_index do |toi, index| %>
      <%= link_to toi_path(toi) do %>
        <div id="avatar-size" class="card <%= "bg-color-#{(index % 3) + 1}" %>">
          <div class="p-1">
            <%= cl_image_tag toi.photo.key, height: 300, crop: :fill, class: "img-toi" %>
            <h2 class="fw-bold"><%= toi.title %></h2>

            <% if toi.posts.last %>
              <div class="d-flex flex-row justify-content-between">
                <strong><%= toi.posts.count %> avis</strong>
                <div class="stars text-primary">
                  <p><strong><%= toi.posts.average(:rating).to_f.round(1)/2 %>/5</strong></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  <% else %>
  <div class="my-5 page-title">
    <h1>Explore<i class="fa-solid fa-bolt icon-logo"></i></h1>
  </div>
    <% Category.all.each_with_index do |cat, index| %>
      <div id="avatar-size" class="card <%= "bg-color-#{(index % 3) + 1}" %>">
        <%= link_to cat.name, tois_path(category_id: cat.id), class: 'fw-bold text-black h3' %>
      </div>
    <% end %>
  <% end %>

</div>
