<h1>toi show</h1>
<h2><%= @toi.title %></h2>
<h3><%= @toi.description %></h3>
<p><%= @toi.posts.count %></p>

<% @filtered_posts.each do |post| %>
  <h2><%= post.review %></h2>
  <h2><%= post.user.username  %></h2>
<% end %>
