<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <% @posts.each_with_index do |post, index| %>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-current="<%= 'true' if index.zero? %>"></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% @posts.each_with_index do |post, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <img src="https://media.post.rvohealth.io/wp-content/uploads/sites/2/2020/04/149361_GRT-Increase-Height-1200x728-REAL-THUMBNAIL.jp_-800x728.jpg" class="d-block w-100" alt="...">
        <div class="card m-3 p-1">
          <blockquote class="blockquote">
            <p><%= post.review %></p>
            <footer class="blockquote-footer"><%= post.user.username %></footer>
          </blockquote>
        </div>
      </div>
    <% end %>
  </div>
</div>
        <div class="card m-3 p-1">
          <blockquote class="blockquote">
            <p><%= post.review %></p>
            <footer class="blockquote-footer"><%= post.user.username %></footer>
          </blockquote>
        </div>
