<div class="container my-feed fullheight">
  <div class="heading">
    <h1 class="fa-7x fw-bold">My feed</h1>
  </div>
  <% @tois.each_with_index do |toi, index| %>
    <%= link_to toi_path(toi) do %>
      <div id="avatar-size" class="card flex-row justify-content-between <%= "bg-color-#{(index % 3) + 1}" %>">
        <div class="p-1">
          <div class="infos d-flex mb-2">
          <%= cl_image_tag  toi.posts.last.user.photo.key, class: "avatar"  %>
            <div>
              <h2 class="fw-bold"><%= toi.title  %></h2>
              <p class="user">@<%= toi.posts.last.user.username %></p>
            </div>
          </div>
        <p><%= toi.posts.last.review  %></p>
        </div>
      <%= cl_image_tag toi.photo.key, height: 300, crop: :fill, class: "img-toi" %>
      </div>
    <% end %>
  <% end %>
</div>
