<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-secondary">X</button>
    </div>
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-primary">Enregistrer</button>
    </div>
  </div>

  <%= simple_form_for @post,
                      html: {
                        data: {
                          controller: 'post-form'
                        }
                      } do |f| %>
    <%= f.input :toi,
                collection: Toi.all,
                label_method: :title,
                value_method: :title,
                label: "TOI",
                input_html: {

                  placeholder: "Sélectionne un titre",
                  data: {
                    post_form_target: 'selectInput'
                  }
                } %>

    <%# TOI INPUTS %>
    <div class="d-none" data-post-form-target="newToiForm">
      <p class="">Décris ton TOI</p>
      <%= f.simple_fields_for(:toi) do |ff| %>
        <%= ff.input :description,
                      label: "Description" %>
        <%#= ff.association :category,
                      label: "Catégorie" %>
        <%= ff.association :category,
                   collection: Category.all,
                   label_method: :name,
                   value_method: :id,
                   label: "Catégorie" %>
        <%= ff.input :trailer,
                      label: "Trailer",
                      input_html: {
                        data: {
                          post_form_target: 'trailerInput'
                        }
                      } %>
        <%= ff.input :location,
                      label: "Lieu" %>
        <%= ff.input :photo,
                      as: :file,
                      label: "Image" %>
      <% end %>
    </div>

    <%# POST INPUTS %>
    <%= f.input :rating, label: "Note", collection: (1..5), include_blank: "Select Rating" %>
    <%= f.input :review, label: "Commentaire", input_html: { rows: 4 } %>
    <%#= f.input :photo, as: :file, label: "Images" %>

    <%= f.button :submit, "Partager", class: "btn btn-success mt-3" %>
  <% end %>

</div>
