<div class="container fullheight form-new" id="resize-button">

  <div class= "row">
   <h1 style="text-align:center; margin-top: 15px"> Share with us your cultural experience <h1>
    <div class="mb-5"></div>
    <div class="mt-4 col-md-6 d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" onclick="history.back()">+</button>
    </div>
  </div>

  <%= simple_form_for @post,
                      html: {
                        data: {
                          controller: 'post-form'
                        }
                      } do |f| %>

    <%= f.input :toi,
                collection: Toi.all,
                label_method: :title,
                value_method: :title,
                label: false,
                wrapper: false,
                input_html: {
                  class: 'simple-form-input no-hover',
                  placeholder: "Sélectionne un titre",
                  data: {
                    post_form_target: 'selectInput',
                    action: 'input->post-form#showToiInputs'
                  }
                } %>

    <%# TOI INPUTS %>
    <div class="d-none" data-post-form-target="newToiForm">
      <%= f.simple_fields_for(:toi) do |ff| %>
        <%= ff.input :description,
                      placeholder: "Description",
                      label: false,
                      input_html: {
                        class: 'simple-form-input'
                      } %>
        <%= ff.association :category,
                            prompt: "Choisis ta catégorie",
                            label: false,
                            input_html: {
                              class: "simple-form-input",
                              data: {
                                action: 'input->post-form#showInputs'
                              }
                            } %>
        <%= ff.input :trailer,
                      placeholder: "Trailer",
                      label: false,
                      wrapper_html: {
                        class: "d-none",
                        data: { post_form_target: "trailer"}
                      },
                      input_html: {
                        class: 'simple-form-input',
                        data: {
                          post_form_target: 'trailerInput'
                        }
                      } %>
        <%= ff.input :location,
                      placeholder: "Lieu",
                      label: false,
                      wrapper_html: {
                        class: "d-none",
                        data: { post_form_target: "location"}
                      },
                      input_html: {
                        class: 'simple-form-input'
                      } %>
        <%#= ff.input :photo,
                      as: :file,
                      placeholder: "Image",
                      label: false,
                      input_html: {
                        class: 'simple-form-input'
                      } %>
        <div class="mb-3 d-flex justify-content-center">
          <label for="photo-upload" class="custom-file-upload" data-post-form-target="label">
            <i class="fa-solid fa-camera"></i> Choisis une photo
          </label>
          <%= f.file_field :photo, class: "simple-form-input d-none", id: "photo-upload", data: { post_form_target: 'input' } %>
        </div>
      <% end %>
    </div>

    <%# POST INPUTS %>
    <%= f.input :rating,
                placeholder: "Note",
                collection: (1..5),
                include_blank: "Donne une note",
                label: false,
                input_html: {
                  class: 'simple-form-input',
                  data: {
                    controller: "star-rating",
                  }
                } %>
    <%= f.input :review,
                placeholder: "Commentaire",
                label: false,
                input_html: {
                  rows: 4,
                  class: 'simple-form-input',
                } %>

    <%= f.button :submit,
                  "Partager",
                  class: "btn btn-success mt-3 simple-form-button" %>

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% end %>

</div>
