<div class="container fullheight">

  <div class="row ">
    <div class="col-md-6 d-flex justify-content-between">
      <button type="button" class="btn btn-secondary">X</button>
      <button type="button" class="btn btn-primary">Enregistrer</button>
    </div>
  </div>

  <h1>Culture Heads</h1>

  <%= simple_form_for @post,
                      html: {
                        data: {
                          controller: 'post-form'
                        }
                      } do |f| %>

    <%= f.input :toi,
                collection: Toi.all,
                label_method: :title,
                value_method: :title,
                label: false,
                input_html: {
                  class: 'simple-form-input no-hover',
                  placeholder: "Sélectionne un titre",
                  data: {
                    post_form_target: 'selectInput'
                  }
                } %>

    <%# TOI INPUTS %>
    <div class="d-none" data-post-form-target="newToiForm">
      <%= f.simple_fields_for(:toi) do |ff| %>
        <%= ff.input :description,
                      placeholder: "Description",
                      label: false,
                      input_html: {
                        class: 'simple-form-input'
                      } %>
        <%= ff.select :category_id,
              options_from_collection_for_select(Category.all, :id, :name),
              { include_blank: "Choisis ta catégorie" },
              { class: 'simple-form-input' } %>
        <%#= ff.association :category,
                      collection: Category.all,
                      label: false,
                      placeholder: "Choisis ta catégorie",
                      input_html: {
                        class: 'simple-form-input'
                      } %>
        <%= ff.input :trailer,
                      placeholder: "Trailer",
                      label: false,
                      input_html: {
                        class: 'simple-form-input',
                        data: {
                          post_form_target: 'trailerInput'
                        }
                      } %>
        <%= ff.input :location,
                      placeholder: "Lieu",
                      label: false,
                      input_html: {
                        class: 'simple-form-input'
                      } %>
        <%= ff.input :photo,
                      as: :file,
                      placeholder: "Image",
                      label: false,
                      input_html: {
                        class: 'simple-form-input'
                      } %>
      <% end %>
    </div>

    <%# POST INPUTS %>
    <%= f.input :rating,
                placeholder: "Note",
                collection: (1..5),
                include_blank: "Select Rating",
                label: false,
                input_html: {
                  class: 'simple-form-input'
                } %>
    <%= f.input :review,
                placeholder: "Commentaire",
                label: false,
                input_html: {
                  rows: 4,
                  class: 'simple-form-input'
                } %>

    <%= f.button :submit,
                  "Partager",
                  class: "btn btn-success mt-3 simple-form-button" %>
  <% end %>

</div>
